<footer class="region bg-color-grayDark1 text-color-light">
        <div class="container">
          
          <div id="footer-1-block" class="footer-1 block">
            
            <div class="row">
              
              <div class="footer-social-networks-3 text-center col-xs-12">
                <a href="http://facebook.com" target="_blank"><i class="icon-social-facebook"></i></a>
                <a href="http://plus.google.com" target="_blank"><i class="icon-social-google-plus"></i></a>
                <a href="http://flickr.com" target="_blank"><i class="icon-social-flickr"></i></a>
                <a href="http://dribbble.com" target="_blank"><i class="icon-social-dribbble"></i></a>
                <a href="http://pinterest.com" target="_blank"><i class="icon-social-pinterest"></i></a>
              </div> <!-- /footer-social-networks-3 -->
              
              <div class="footer-author text-center col-xs-12">                
                Powered by The Coder Factory
              </div> <!-- /footer-content -->
              
            </div> <!-- /row -->
            
          </div> <!-- /footer-1-block -->
          
        </div> <!-- /container -->
      </footer> <!-- /footer -->