<div id="highlighted-region">
        
        <div id="highlighted-image-1-block" class="highlighted-image-1">
          <%= image_tag 'wind-big.jpg', class: 'img-full-width' %>
          <div class="highlighted-image-content">
            <div class="icon-diamond"></div>
            <h2>Connecting startup people</h2>
            <p>Bringing startup communities together.</p>
          </div> <!-- /image-highlighted-content -->
        </div> <!-- /highlighted-image-1-block -->

      </div> <!-- /highlighted-region -->